.App {
  text-align: center;
}



.products {
  display: grid;
  grid-template-columns:repeat(2,30em);
  grid-gap: 5em;

}

.products img {
  width: 25em;
}

.products {
  padding: 10em;
  border-style: ridge;
  border-width: 5px;
  border-color: sandybrown;
  border-radius: 30px;
  
}

button {
  font-size: 15px;
  margin: 20px; /* margin adds space outside an element border */
  padding: 10px;        /* padding adds space inside an element border  */
}

header {
  background-color:yellowgreen;
  height: 100px;
  padding-top: 50px;
  border-style: solid;
  
}
